$secondary--color:#80745b;

  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #eee1aa;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .filteredBooks{
      padding-top: 100px;
  }

.drawer{
    display: flex;
   padding-top:10%
}
.filteredBooks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage{
    height: 400px;
      background-image: url("https://s18.picofile.com/file/8438452168/00191381_1366x379.jpeg");
      background-repeat: no-repeat;
}
.search--box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede5d4;
    padding:30px 100px;
    margin-right: 30px;
}

.pd--image--on--pd--detail{
  width: 300px;
  height: 500px;
  // background-color: #e2c27c;

}
.pd--description--on--pd--detail{
  font-size: 20px;
  margin-bottom: 100px;
}

  @media only screen and (max-width: 1080px) {
    /* For mobile phones: */
 .filteredBooks{
    padding-right: 200px;
}
.pd--image--on--pd--detail{
  margin-top: 100px;
}
.pd--description--on--pd--detail{
  margin-left: 20px;
  margin-bottom: 50px;
}

  }


